<!DOCTYPE html>
<html lang="en">
<head>
  <title>Chicago Crime Stats</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

  
  <script src="../static/js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
      <!-- jQuery Version 1.11.0 -->
      <script src="https://raw.githubusercontent.com/IronSummitMedia/startbootstrap/gh-pages/templates/agency/js/jquery-1.11.0.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="https://raw.githubusercontent.com/IronSummitMedia/startbootstrap/gh-pages/templates/agency/js/bootstrap.min.js"></script>
  
      <!-- Plugin JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
      <script src="https://raw.githubusercontent.com/IronSummitMedia/startbootstrap/gh-pages/templates/agency/js/classie.js"></script>
      <script src="https://raw.githubusercontent.com/IronSummitMedia/startbootstrap/gh-pages/templates/agency/js/cbpAnimatedHeader.js"></script>

      <!-- Splide Carousel JavaScript  -->
      <script src="/static/js/splide.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/static/css/splide.min.css"><script>
      document.addEventListener( 'DOMContentLoaded', function () {
	    new Splide( '#image-slider', {
		    'cover'      : true,
		    'heightRatio': 0.8,
            'perPage'    : 2,
            heightRatio: 0.3,
	    } ).mount();
} );

</script>
</head>

    <!-- Navigation- this uses bootstrap -->
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container">
            <!-- This is where the branding goes/and the hamburger menu is added for responsive design-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Chicago Crime Report</a>
            </div>
   
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">                      
                     <!-- The Team-->
                     <li class="">
                        <a href="/MeetTheTeam"><span class="glyphicon glyphicon-user"></span> Meet the Team</a>
                    </li> 
                    <!-- Raw Data-->
                    <li class="">
                    <a href="/showDataPage"><span class="glyphicon glyphicon-tasks"></span> Raw Data</a>
                    </li> 
                    <!-- Dropdown for Viz-->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-signal"></span> Visualizations
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/crimeMap">Chicago Crime Map</a></li>
                            <li><a href="/crimeCalendarPage">Crime Calendar</a></li>
                            <li><a href="/arrestChartPage">Crimes vs. Arrests</a></li>
                        </ul>
                      </li>                                                       
                </ul>
            </div>            </div>
        </div>

    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="blurb">Chicago Crime Report</div>
                <div class="blurb-bio">One place to find all your Chicago Crime Statistics</div>
            </div>
        </div>
    </header>
  
       <!-- Splide Carousel Code -->

       <div id="image-slider" class="splide bg-light-gray">
        <div class="text-center">
            <h2 class="section-heading">Visualization Preview</h2>
            <h3 class="section-subheading text-muted">Take a look at some of the visualizations and content that is featured within this site.</h3>
        </div>
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide" style="border: 1px;border-color: black;">
                    <a href="/crimeCalendarPage"><img src="/static/images/crimeCalendar.jpeg"></a>
                </li>
                <li class="splide__slide" style="border: 1px;border-color: black;">
                    <a href="/crimeMap"><img src="/static/images/crimeMap.jpeg"></a>
                </li>
                <li class="splide__slide" style="border: 1px;border-color: black;">
                    <a href="/showDataPage"><img src="/static/images/rawData.jpeg"></a>
                </li>
                <li class="splide__slide" style="border: 1px;border-color: black;">
                    <a href="/arrestChartPage"><img src="/static/images/crimeVsArrests.jpeg"></a>
                </li>
            </ul>
        </div>
      </div>
    </section>


    <!--footer section-->
    <footer>
        <div class="footer">Copyright &copy; Chicago Crime Report 2021</div>
      </footer>
</html>